
.dcm-file-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: flex-start;
}

.dcm-file-list a.dcm-file {
	width: 152px;
	margin: 1.2rem;
}

.dcm-file-list a.dcm-file img {
	width: 152px;
	max-height: 152px;
}

.dcm-file-list div.dcm-file-title {
	padding: .8rem 1.2rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1.3rem;
	overflow: hidden;
}

.dcm-file-list a.dcm-folder {
	margin: 1.6rem;
	width: 152px;
	border: 1px solid darkgray;
	border-radius: 3px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
}

/* hide internal CMS buttons before CMS is loaded */

#dcuiMain .dcuiCmsWidget {
	display: none !important;
}

#dcuiMain.dcuiCmsWidgetEnable .dcuiCmsWidget {
	display: block !important;
}


#panDcmShipLabelViewer {
	height: 100%;
	overflow-y: auto;
}

#panDcmShipLabelViewerClose {
	position: absolute;
	top: 24px;
	right: 24px;
}

#panDcmShipLabelViewerClose .dc-icon-background {
	color: #E6E6E6;
}

#panDcmShipLabelViewerClose.dc-link:hover .dc-icon-foreground,
#panDcmShipLabelViewerClose.dc-link:focus .dc-icon-foreground {
	color: #fff;
}

#panDcmShipLabelViewerClose .dc-icon-foreground {
	color: #444;
}

@media print {
	#panDcmShipLabelViewerClose {
		display: none;
	}
}
