
.dcm-fb-header {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.dcm-fb-icon img {
	width: 50px;
}

.dcm-fb-stamp {
	margin-left: .8rem;
}

.dcm-fb-stamp h3 {
	margin-top: 0;
	margin-bottom: .2rem;
}

.dcm-fb-stamp {
	font-size: 1.4rem;
}

.dcm-fb-body img {
	max-width: 100%;
}

.dcm-ig-listing {
	text-align: center;
}

.dcm-ig-entry img {
	width: 114px;
	margin-top: .8rem;
	margin-right: .8rem;
	float: right;
}

.dcm-widget-slider .dcm-widget-slider-fader,
.dcm-widget-slider-banner .dcm-widget-slider-img,  /* only when in banner mode for img */
.dcm-widget-carousel .dcm-widget-carousel-fader,
.dcm-widget-carousel .dcm-widget-carousel-img,
.dcm-widget-banner .dcm-widget-banner-img {
	height: 100%;
  position: absolute;
}

.dcm-widget-slider .dcm-widget-slider-fader,
.dcm-widget-carousel .dcm-widget-carousel-fader {
	z-index: 0;
}

.dcm-widget-slider .dcm-widget-slider-img,
.dcm-widget-carousel .dcm-widget-carousel-img,
.dcm-widget-banner .dcm-widget-banner-img {
	z-index: 4;
}

.dcm-widget-slider .dcm-widget-slider-list,
.dcm-widget-carousel .dcm-widget-carousel-list {
	display: none;
}


/* SliderWidget */

.dcm-widget-slider.dcm-widget-slider-inline img.dcm-widget-slider-fader,
.dcm-widget-slider.dcm-widget-slider-inline img.dcm-widget-slider-img {
	max-width: 100%;
}

.dcm-widget-slider img.autoplay {
	transition: opacity 2.2s linear;
}

.dcm-widget-slider img.manual {
	transition: opacity .4s linear;
}

/* for LRControl in SliderWidget only */

.dcm-widget-slider-lr .dcm-widget-slider-ctrl {
	position: absolute;
	top: 0;
	bottom: 0;
	font-size: 2rem;
	z-index: 10;
	user-select: none;

	width: 5rem;
}

.dcm-widget-slider-lr.single .dcm-widget-slider-ctrl {
	display: none;
}

.dcm-widget-slider-lr .dcm-widget-slider-ctrl a {
	user-select: none;
	display: inline-block;

	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	user-select: none;
}

.dcm-widget-slider-lr .dcm-widget-slider-ctrl-left {
	left: 0;
}

.dcm-widget-slider-lr .dcm-widget-slider-ctrl-right {
	right: 0;
}

.dcm-widget-social-media {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: flex-start;
	align-items: flex-start;
}

.dcm-widget-social-media .dc-link {
	margin: 0 .1rem 0 .1rem;
}

ul.dc-list-control {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
}

ul.dc-list-control li {
	display: inline-block;
}

/* TODO maybe improve someday */

#sectCalcsField01dea8fb54024150bccbfb584a94d51b {
	text-align: right;
}

#sectCalcs01dea8fb54024150bccbfb584a94d51b {
	margin-left: auto;
}

#sectCalcs01dea8fb54024150bccbfb584a94d51b th {
	padding-right: 24px;
}

#sectCalcs179b99fde9f74d4f85f681087266e756 td:first-child {
	padding-right: 24px;
}
